@charset "UTF-8"; 

/* 
 ------------------------------ 

 (C)SHSC CSS 
 Version: 1.0 
 creation date: 10/5
 last update: 10/5 

 ----------------------------- */ 


/* ̉ 
 ----------------------------------------------- */ 

body {
	margin:0px;
	margin-bottom:0px;
	padding:0px;
	line-height:22px;
	color:#000000;
	text-align: center;
	bgcolor:#ffffff;
}

a,
a:link,
a:visited {
	color:#055e99;
	text-decoration:underline;
}

a:hover,
a:active {
	color:#055e99;
	text-decoration:underline;
	}
h1,h2,h3,h4,h5,h6{
	font-size: 12px;
	margin: 0px 0px 0px 0px;
	padding: 0;
	font-weight:normal;
	display: inline;
		}
.text {
	font-family:"ＭＳ Ｐゴシック", Osaka,sans-serif;
	font-size: 12px;
	line-height: 21px;
	color:#333333;
	width:100%;
}
.text_bl {
	font-family:"ＭＳ Ｐゴシック", Osaka,sans-serif;
	font-size: 12px;
	line-height: 18px;
	color:#003366;
	width:100%;
}
.white {
	font-family:"ＭＳ Ｐゴシック", Osaka,sans-serif;
	font-size: 12px;
	line-height: 21px;
	color:#ffffff;
	white-space:100%;
}
